* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 1.2;
}

main section {
    width: 700px;
}

header, main, .timeAndScore, .time, main section.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeAndScore, .time {
    width: 100%;
    flex-direction: row;
    justify-content:space-between;
}

.time {
    justify-content: space-around;
}

.time, .score{
    width: 15%;
    min-width: 250px;
}

label {
    text-align: center;
}

.time textarea {
    text-align: center;
    width: 140px;
    height: 25px;
}
main section.content button {
    /* width: 100%; */
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

h1 {
    font-size: 55px;
    font-weight:55px;
}

h2 {
    font-size: 27px;
    font-weight:20px;
    width: 700px;
    max-width: 700px;
    min-width: 300px;
    text-align: left;
    height: 70px;
}

p {
    text-align: center;
}

#separator {
    /* width: 500px; */
    display: none;
    height: 20px;
    border: 0px;
    margin: 10px;
    border-top: 5px solid gray;
    /* border-bottom: 5px solid gray; */
}

/* Managing display for first Screen in CSS to start the quiz */

h2.question {
    display: none;
}

#instructions {
    display: block;
    width: 700px;
    height: 150px;
}

.options,  #yourEvaluatedAnswer, #yourScoreKeeper, #yourCredentials {
    display: none;
}

.options {
    height: 135px;
}
section #yourCredentials form, fieldset {
    padding: 0px;
    border: 0px none white;
}

#yourEvaluatedAnswer {
    /* display: none; */
    border: 0px none white;
}

/*#yourScoreKeeper {
    display: none;
} */

/* Managing display after quiz is stopped and score display is in progress.*/



