* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 1.2;
}

header, main, .timeAndScore, .time {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeAndScore, .time {
    width: 100%;
    flex-direction: row;
    justify-content:space-between;
}

.time {
    justify-content: space-around;
}

.time, .score{
    width: 15%;
    min-width: 250px;
}

label {
    text-align: center;
}

.time textarea {
    text-align: center;
    width: 140px;
    height: 25px;
}


h1 {
    font-size: 55px;
    font-weight:55px;
}

h2 {
    font-size: 27px;
    font-weight:20px;
    max-width: 800px;
    min-width: 300px;
}

p {
    text-align: center;
}

/* Managing display for first Screen in CSS to start the quiz */

h2.question {
    display: none;
}

#instructions {
    display: block;
    width: 700px;
    height: 150px;
}

.options {
    display: none;
}

#yourEvaluatedAnswer {
    display: none;
}


